body {
  background: rgb(220, 225, 235);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App h1 {
  text-align: center;
  color: #444;
}

.App {
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

/* Booklist*/
#book-list {
  padding: 0px;
}
#book-list li {
  display: inline-flexbox;
  margin: 6px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #880e4f;
}

/*Add book */

form {
  background: aqua;
  padding: 20px;
  position: fixed;
  left: 0;
  width: 400px;
  text-align: right;
}

form.field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}

form label {
  text-align: right;
  padding: 15px;
}

form select,
form input {
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button {
  color: #fff;
  font-size: 2em;
  background: #ad1457;
  border: 0px;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/*Book Details*/
#book-details {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #ad1457;
  padding: 30px;
  overflow: auto;
  box-shadow: 2px -3px 5px rgba(0, 0, 0, 0.3);
}

.other-books {
  padding: 0;
}
.other-books li {
  list-style-type: none;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  border: 3px solid;
  cursor: pointer;
}
